.main-top-w3l {
    background: #0879c9;
}
.header-most-top p {
    letter-spacing: 1px;
    font-size: 15px;
}

.header-right ul li {
    display: inline-block;
    width: 19%;
    font-size: 13px;
    letter-spacing: 1px;
}

.header-right ul li a {
    text-decoration: none;
}

.header-right ul li i {
    font-size: 15px;
}
.mfp-hide {
    display: block !important;
    background: white;
    padding: 20px 20px 30px 20px;
    text-align: left;
    max-width: 650px;
    margin: 40px auto;
    position: relative;
    text-align: center;
}

.select-city h3 {
    margin: 27px;
    color: #F45C5D;
    font-size: 25px;
    letter-spacing: 1px;
}
  
.select-city p {
font-size: 1em;
font-weight: 500;
margin-bottom: 0.5em;
}
a.play-icon.popup-with-zoom-anim img:hover {
    opacity: 0.5;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.list_of_cities {
    width: 94%;
    margin-bottom: 22px;
    padding: 12px;
    border: 1px solid rgba(47, 47, 47, 0.44);
    color: #4d4d4d;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}

@media(max-width: 1080px) {
    .header-right ul li {
        font-size: 12px;
    }
    .header-most-top p {
        font-size: 14px;
    }
}

@media(max-width: 991px) {
    .header-right ul li {
        font-size: 13px;
    }
}
@media(max-width: 800px) {
    .header-right ul li {
        font-size: 13px;
    }
}
@media(max-width: 736px) {
    .header-right ul li {
        font-size: 12px;
    }
}
@media(max-width: 667px) {
    .header-right ul li {
        font-size: 11px;
    }
    .header-right ul li i {
        font-size: 14px;
    }
    .mfp-hide {
        max-width: 566px;
      }
    .select-city h3 {
    font-size: 23px;
    }
}
@media(max-width: 600px) {
    .header-right ul li {
        width: 32%;
    }
    .header-right ul li {
        font-size: 13px;
    }
}
@media(max-width: 480px) {
    .header-right ul li {
        font-size: 12px;
    }
}
@media(max-width: 414px) {
    .header-right ul li {
        font-size: 11px;
    }
    .select-city h3 {
        font-size: 20px;
        margin: 10px 10px 20px;
    }
}
@media(max-width: 384px) {
    .header-right ul li {
        width: 46%;
    }
}
@media(max-width: 320px) {

    .header-most-top p {
        font-size: 13px;
    }
    .select-city h3 {
        font-size: 17px;
        margin: 5px 0px 16px;
    }
}